@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply min-h-screen bg-background text-text antialiased;
  margin: 0;
}

#root {
  min-height: 100vh;
}